// Large screens responsive styles
@import "/src/assets/scss/responsive/responsive.scss";

@include responsive("lg") {
  .statistics {
    &__container {
      height: auto;
      padding: 0 1rem;
    }

    &__grid {
      gap: 1.5rem;
    }

    &__box {
      padding: 1.25rem;
    }
  }

  .frame {
    height: auto;
    min-height: 400px;
    
    &__content {
      width: 50%;
      height: auto;
      min-height: 350px;
    }
  }
}