// RESPONSIVE LG

@include responsive("lg") {
  //Contact Form
  .antd-contact-form {
    padding: 32px !important;

    .ant-row {
      margin-bottom: 24px;
    }

    .ant-input,
    .ant-input-affix-wrapper {
      font-size: 14px;
    }

    .ant-form-item-label > label {
      font-size: 14px !important;
    }
    .ant-btn-primary {
      display: flex;
      align-items: center;
      padding: 18px;
      font-size: 14px;
    }
  }

  //Contact Page
  .contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
    margin: 0 auto;
  }

  //Contact Info
  .contact_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20;

    &__heading {
      font-size: 30px;
      margin-bottom: 0;
    }

    &__method {
      margin-bottom: 16px;
    }

    &__detail {
      font-size: 14px;
    }

    &__label {
      font-size: 12px;
    }

    &__value {
      font-size: 12px;
    }
  }

  //Contact Hero
  .contact_hero {
    height: 467px;

    &__image_wrapper {
      border-radius: 0 0 70px 70px;
    }

    &__scroll_button {
      width: 80px;
      height: 80px;
    }

    &__heading {
      transform: translate(-50%);
    }

    &__title_primary {
      font-size: 30px;
    }

    &__title_secondary {
      font-size: 60px;
    }
  }
}

