//  CONTACT ROOT STYLES

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
  gap: 32;
}

//CONTACT FORM
.antd-contact-form {
  border: 1px solid #e1e4ed;
  padding: 48px !important;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(188, 188, 189, 0.14);
  margin: 0 auto;
  width: 100%;
  max-width: 800px;

  .ant-form-item {
    margin-bottom: 24px;
  }

  .ant-input,
  .ant-input-affix-wrapper {
    border: 1px solid #f1f3f7;
    border-radius: 6px;
    padding: 16px 30px;
    font-size: 16px;
    box-shadow: 0 1px 4px rgba(25, 33, 61, 0.14);
    margin-bottom: 10px;
  }

  .ant-input:focus,
  .ant-input-affix-wrapper:focus {
    box-shadow: none;
    border-color: #f1f3f7;
  }

  .ant-form-item-label > label {
    font-size: 16px;
    font-weight: 600;
  }

  .ant-btn-primary {
    background-color: #161517;
    border: none;
    box-shadow: none;
    border-radius: 6px;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

//CONTACT HERO
.contact_hero {
  position: relative;
  height: 567px;
  text-align: center;

  &__scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 50%);
  }

  &__scroll_button {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    border: none !important;
    cursor: pointer;
    padding: 0;
  }

  &__scroll_icon {
    width: 100%;
    height: 100%;
  }

  &__image_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 0 120px 120px;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__heading {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  &__title {
    &_primary {
      margin-bottom: 20px;
      font-size: 35px;
      font-weight: 500;
    }

    &_secondary {
      font-size: 70px;
      font-weight: 800;
      white-space: nowrap;
    }
  }
}

//  CONTACT INFO
.contact_info {
  color: #161517;
  flex: 1;

  &__heading {
    margin-bottom: 24px;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 700;
  }

  &__detail {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
  }

  &__methods {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  &__method {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 700;
  }

  &__label {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__value {
    font-size: 14px;
    color: #161517;
  }
}

