<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
				<fileExtensions allowUnlisted="true" />
			</requestFiltering>
		</security>
	</system.webServer>

	<system.web>
		<httpRuntime maxRequestLength="1048576" requestPathInvalidCharacters="" />
	</system.web>
</configuration>