@include responsive("sm") {
    .login-modal {
      padding: 16px;
      
      &__title {
        margin-bottom: 16px;
        font-size: 1.5rem !important;
      }
      
      &__form {
        max-width: 100%;
      }
      
      &__options {
        margin-bottom: 16px;
      }
    }
    
    :global(.ant-modal) {
      max-width: 90% !important;
      margin: 0 auto;
    }
  }