// Brand Colors
$color-primary: #00aeef; 
$color-primary-hover: #0096ce;
$color-success: #E5F5EB;
$color-error: #FCCED4;

// Breakpoints cho Responsive
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;